


<div class="card text-center" style="width: 18rem; border: 1px solid #dee2e6; border-radius: 15px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);">
  <img class="card-img-top" src=<%= restaurant.fetch("image_url") %> alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= restaurant.fetch("name") %></h5>
   
    <%= link_to restaurant.fetch("name"), search_show_path(id: restaurant["id"]) %>
  </div>
</div>
