<div class="search-card-container d-flex justify-content-center align-items-center flex-wrap">
  <% if @restaurants.empty? %>
    <p>No restaurants match that criteria.</p>
  <% end %>
  <% @restaurants.each do |restaurant| %>
    <%= render "search/restaurant", restaurant: restaurant %>
  <% end %>
</div>
