<h1>Editing recommendation</h1>

<%= render "form", recommendation: @recommendation %>

<br>

<div>
  <%= link_to "Show this recommendation", @recommendation %> |
  <%= link_to "Back to recommendations", recommendations_path %>
</div>
