<div>Hello <%= current_user.username %></div>

<%= image_tag "#{current_user.image_url}", style: 'height:5vw;width:10vw;margin-bottom:20px;' %>

<%# @favorite_restaurants.each do |favorite| %>
<%#= favorite %>
<%# end %>
