<div class="random-card d-flex justify-content-center align-items-center" style="width: 18rem;">
  <%= link_to search_show_path(id: @yelp_places["id"]), class: "card-link" do %>
    <div class="search-card text-center h-100">
      <div class="search-card-image-container">
        <img class="search-card-img-top" src="<%= @yelp_places.fetch("image_url") %>" alt="Card image cap">
        <h5 class="search-card-title">
          <%= @yelp_places.fetch("name") %>
        </h5>
      </div>
    </div>
  <% end %>
</div>
