.banner {
  position: relative;
  color: white;
  height: 600px;
}

.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner .list {
  z-index: 1;
}

.bannerSubtitleIndex {
  font-size: 85px;
  margin-bottom: 50px;
  padding-left: 25px;
}

.logo-container {
  margin-top: 100px;
}

.subtitle {
  font-size: 40px;
}
