.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
  color: white;
  margin-top: 10px;
}

.btn-outline-primary {
  background-color: #3498db;
  border-color: #3498db;
  color: white;
  margin-top: 10px;
}

.fa-regular {
  color: #FE5F55
}

.btn-fave {
color: #FF0000
}
