.btn-primary {
  background-color: #43A6C6;
  border-color: #43A6C6;
  color: white;
  margin-top: 10px;
}

.btn-outline-primary {
  background-color: #73adc1;
  border-color: #43A6C6;
  color: white;
  margin-top: 10px;
  border-radius: 30px;
}


.fa-regular {
  color: #FE5F55
}

.btn-fave {
color: #FF0000
}
