.btn-primary {
  background-color: #FE5F55;
  border-color: #FE5F55;
  color: white;
  margin-top: 10px;
}

.btn-outline-primary {
  background-color: #FE5F55;
  border-color: #FE5F55;
  color: white;
  margin-top: 10px;
}

.fa-regular {
  color: #FE5F55
}


