@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Noto+Sans+Linear+A&display=swap');

 .card {
  margin: 50px;
 }

.card-2 {
  border-radius: 10px;
  width: 100%;
  display: table;
  overflow: hidden; 
}
.card-img-top{
  width: 100%;
  height: 200px;
  box-shadow: 0px 0px 5px rgb(230, 230, 230);
  opacity: 1;
}
//SEARCH RESTAURANT PARTIAL CARD
.search-card {
  margin: 50px;
 }

 .search-card:hover {
  filter: brightness(90%);
  cursor: pointer;
 }

.search-card-img-top{
  width: 100%;
  height: 200px;
  box-shadow: 0px 0px 5px rgb(230, 230, 230);
  opacity: 1;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.search-card-image-container{
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.search-card {
  width: 18rem; 
  border: 1px solid #dee2e6; 
  border-radius: 15px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 50px;
}

.search-card-title{
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.card-heading {
  background: url("https://images.unsplash.com/photo-1484723091739-30a097e8f929?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGZvb2R8ZW58MHx8MHx8fDA%3D") top left;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.search-card-body{
  padding: 10px;
}

.profile-card-body {
  display: table-cell;
  padding: 80px 90px;
  padding-bottom: 88px;
}

.page-wrapper {
  border: 2px solid #808080;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 200px;
  border-radius: 10px;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

label {
  flex: 1; 
  margin-right: 10px;
}

input {
  flex: 2;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
}

.review-card {
  height: 300px; 
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.star-rating-big {
  font-size: 24px; 
  vertical-align: text-bottom;
}

.show-img{
  max-width: 100%;
  height: auto;
}

.review-body p{
  font-family: 'Hedvig Letters Sans', sans-serif;
  color:#808080;
  font-size: smaller;
}

h3 {
  color:#646363;
}

.review-count-small {
  font-size: 14px;
  color:#808080;
}

.show-card-details {
  color:#808080;
  font-size: smaller;
}

.img-fluid {
  object-fit: cover;
}

.card-body p{
  color:#808080;
}

.badge {
  background-color: #43A6C6 !important;
}
