 .card {
//   padding: 10px;
  margin: 50px;
//  height: 400px;
//  width: 200px;
//  box-shadow: 0px 0px 5px rgb(230, 230, 230);
//  opacity: 1;
 }

.card-2 {
  border-radius: 10px;
  width: 100%;
  display: table;
  overflow: hidden; /* This line is optional and may not be needed in some cases */
}
.card-img-top{
  width: 100%;
  height: 200px;
  box-shadow: 0px 0px 5px rgb(230, 230, 230);
  opacity: 1;
}
.col-lg-4 {
  background: url("https://images.unsplash.com/photo-1484723091739-30a097e8f929?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGZvb2R8ZW58MHx8MHx8fDA%3D") top left;
  background-attachment: fixed; /* Add this line */
  padding-left: 10px;
}

.card-heading {
  background: url("https://images.unsplash.com/photo-1484723091739-30a097e8f929?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGZvb2R8ZW58MHx8MHx8fDA%3D") top left;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.search-card-body{
  padding: 10px;
}

.profile-card-body {
  display: table-cell;
  padding: 80px 90px;
  padding-bottom: 88px;
}

.page-wrapper {
  border: 2px solid #808080;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 200px;
  border-radius: 10px;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

label {
  flex: 1; /* Allow label to grow and take up available space */
  margin-right: 10px; /* Add space between label and input */
}

input {
  flex: 2; /* Allow input to grow and take up more space */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
}
