.logo-img {
  max-width: 100px; /* Adjust the max-width as needed */
  height: auto;
}

.navbar-lewagon {
  justify-content: space-between;
  background: rgb(234, 231, 231);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

