

.logo-img {
  max-width: 100px; 
  height: auto;
}

.navbar-restaurant {
  justify-content: space-between;
  
}

.navbar-restaurant .navbar-collapse {
  flex-grow: 0;
}

.navbar-restaurant .navbar-brand img {
  width: 100px;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
}
