

.logo-img {
  max-width: 100px; 
  height: auto;
}

.navbar-lewagon {
  justify-content: space-between;
  
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
}


// .jumbotron {
//   position: relative;
//   overflow: hidden;
// }
