<p style="color: green"><%= notice %></p>

<div class="jumbotron jumbotron-fluid">
  <div class="banner d-flex justify-content-center align-items-center flex-column" style="height: 400px;">
    <div class="list d-flex justify-content-center align-items-center flex-column">
      <h2 class="bannerSubtitleIndex">Welcome to NoshNow</h2>
    </div>
  </div>
</div>

<div class="banner-index d-flex justify-content-center align-items-center flex-column" style="height: 400px;">
  <% @parsed_data.each do |b| %>
    <%= b.fetch("name") %>
   
  <% end %>
</div>

<%= link_to "New place", new_place_path %>
